@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ez-primary: #0f516a;
  --ez-accent: #aa003c;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
